# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Testing
**/coverage
backend/.env.txt:4
# Production
**/build
**/dist
**/.vercel
**/.next

# Environment Variables
**/.env
**/.env.local
**/.env.*.local

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Editor Files
.vscode/
.idea/
*.swp
*.swo
*.env
.env
backend/.env.txt
.env
*.env